.bg-footer { background-color: #fdf2ea; }

.underline-brown { display: inline-block; border: .6px solid #f00; margin-bottom: 1rem; }

.footer-menu ul { list-style: none; }
.footer-menu ul li { display: inline-block; padding-left: 20px; padding-right: 20px; }
.footer-menu.d-none ul li:not(:last-of-type) { border-right: 1px solid #f00; height: 20px; vertical-align: middle; }
.footer-menu ul li a { text-decoration: none; color: black; font-family: 'Bree Serif'; }

span { font-family: 'Bree Serif'; }