<div class="p-5 bg-footer">
    <div class="footer-menu d-none d-lg-block">
        <ul class="d-flex justify-content-center w-100">
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
            <li>
                <a href="#">PRIVACY POLICY</a>
            </li>
            <li>
                <a href="#">TERMS AND CONDITION</a>
            </li>
        </ul>
    </div>
    <div class="footer-menu d-lg-none d-xl-none">
        <ul class="p-0">
            <li class="d-flex justify-content-center">
                <a href="#">ABOUT</a>
            </li>
            <li class="d-flex justify-content-center">
                <a href="#">CONTACT</a>
            </li>
            <li class="d-flex justify-content-center">
                <a href="#">PRIVACY POLICY</a>
            </li>
            <li class="d-flex justify-content-center">
                <a href="#">TERMS AND CONDITION</a>
            </li>
        </ul>
    </div>
    <div class="d-flex underline-brown w-100"></div>
    <div class="d-none d-lg-block">
        <div class="d-flex justify-content-center w-100">
            <div class="mr-4">
                <fa-icon [icon]="faFacebookF" class="mr-2"></fa-icon>
                <span>payu.snack</span>
            </div>
            <div class="mr-4">
                <fa-icon [icon]="faTwitter" class="mr-2"></fa-icon>
                <span>@payusnackyuk</span>
            </div>
            <div class="mr-4">
                <fa-icon [icon]="faInstagram" class="mr-2"></fa-icon>
                <span>@payusnack</span>
            </div>
        </div>
    </div>
    <div class="d-lg-none d-xl-none">
        <div class="d-flex flex-column align-items-center">
            <div class="">
                <fa-icon [icon]="faFacebookF" class="mr-2"></fa-icon>
                <span>payu.snack</span>
            </div>
            <div class="">
                <fa-icon [icon]="faTwitter" class="mr-2"></fa-icon>
                <span>@payusnackyuk</span>
            </div>
            <div class="">
                <fa-icon [icon]="faInstagram" class="mr-2"></fa-icon>
                <span>@payusnack</span>
            </div>
        </div>
    </div>
</div>