<div class="d-flex flex-column justify-content-center align-items-center p-3" style="height: calc(100% - 71px);">
    <ng-container *ngIf="items$ | async as items; else loading;">
        <table class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Gambar</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Hapus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; index as i">
                    <th scope="row" style="width: 5%;">{{i+1}}</th>
                    <td style="width: 15%;">
                        <ng-container *ngIf="item.snackName; else emptyName;">
                            {{ item.snackName }}
                        </ng-container>
                        <ng-template #emptyName>
                            Nama Snack {{i+1}}
                        </ng-template>
                    </td>
                    <td style="text-align: left !important; width: 30%;">
                        <ng-container *ngIf="item.snackDesc; else emptyDesc;">
                            {{ item.snackDesc }}
                        </ng-container>
                        <ng-template #emptyDesc>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text.
                        </ng-template>
                    </td>
                    <td style="width: 20%;">
                        <ng-container *ngIf="item.snackPrice; else emptyPrice;">
                            {{ convertToRupiahFunc(item.snackPrice) }}
                        </ng-container>
                        <ng-template #emptyPrice>
                            Price: N/A
                        </ng-template>
                    </td>
                    <td style="width: 20%;">
                        <img [src]="getImageUrl(item.id)" class="mb-3" *ngIf="imageUrls.length === items.length"
                            width="150" height="150"
                            style="object-fit: cover;" />
                    </td>
                    <td style="width: 5%;">
                        <button class="btn btn-primary" [routerLink]="['/admin/snacks', item.id]">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                    </td>
                    <td style="width: 5%;">
                        <button class="btn btn-danger">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <fa-icon [icon]="faSpinner" [pulse]="true" size="6x" [styles]="{'color': '#f00'}"></fa-icon>
    </ng-template>
</div>