<nav class="navbar navbar-expand-lg navbar-light">
    <span routerLink="" routerLinkActive="d-lg-block" [routerLinkActiveOptions]="{ exact: true }"
        style="font-size: 20px; cursor:pointer" class="mr-md-3 d-none" onclick="openNav()">
        <fa-icon [icon]="faBars"></fa-icon>
    </span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#galeri">GALERI</a>
        <a href="#hubungi-kami">HUBUNGI KAMI</a>
    </div>

    <a class="navbar-brand d-lg-none d-xl-none" routerLink="{{ isLoggedIn ? '/admin/dashboard' : '/' }}">Payu Snack</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand mr-auto d-none d-lg-block" routerLink="{{ isLoggedIn ? '/admin/dashboard' : '/' }}">Payu Snack</a>

        <ul class="navbar-nav">
            <li *ngIf="showMenu | async" class="nav-item mr-2 mt-2 mt-lg-0" routerLink="" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link py-1 px-3">
                    <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
                    BERANDA
                </a>
            </li>
            <li *ngIf="showMenu | async" class="nav-item mr-2" routerLink="/menu" routerLinkActive="active">
                <a class="nav-link py-1 px-3">
                    <fa-icon [icon]="faBook" class="mr-1"></fa-icon>
                    LIHAT MENU
                </a>
            </li>
            <li *ngIf="showMenu | async" class="nav-item mr-2">
                <a class="nav-link py-1 px-3" href="tel:+6281319377107">
                    <fa-icon [icon]="faPhone" class="mr-1"></fa-icon>
                    TELEPON
                </a>
            </li>
            <li *ngIf="showMenu | async" class="nav-item mr-2">
                <a class="nav-link py-1 px-3">
                    <fa-icon [icon]="faInfoCircle" class="mr-1"></fa-icon>
                    TENTANG KAMI
                </a>
            </li>
            <li *ngIf="!(showMenu | async) && isLoggedIn" routerLink="/admin/snacks" routerLinkActive="active" class="nav-item mr-2">
                <a class="nav-link py-1 px-3">
                    <fa-icon [icon]="faHotdog" class="mr-1"></fa-icon>
                    SNACKS
                </a>
            </li>
            <li *ngIf="!(showMenu | async) && isLoggedIn" routerLink="/admin/galeri" routerLinkActive="active" class="nav-item mr-2">
                <a class="nav-link py-1 px-3">
                    <fa-icon [icon]="faImage" class="mr-1"></fa-icon>
                    GALERI
                </a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item mr-2">
                <a class="nav-link py-1 px-3" (click)="logout()" href="#">
                    <fa-icon [icon]="faPowerOff" class="mr-1"></fa-icon>
                    KELUAR
                </a>
            </li>
            <div *ngIf="showMenu | async" class="d-xs-block d-lg-none">
                <div class="p-2">
                    <div class="border-black"></div>
                </div>
                <li class="nav-item mr-2">
                    <a class="nav-link py-1 px-3" href="#galeri">
                        GALERI
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link py-1 px-3" href="#hubungi-kami">
                        HUBUNGI KAMI
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>