.navbar { background-color: #fdf2ea; }

.navbar-brand { font-family: 'Lobster', cursive }
.navbar-brand.d-lg-block { font-size: 30px; }

.navbar ul li { cursor: pointer; }

.navbar ul li.active { background-color: #f00; border-radius: 20px; }
.navbar ul li.active a { color: white; }

.navbar ul li a { font-family: 'Bree Serif', serif; color: black; }
.navbar ul li a:hover { background-color: #f00; border-radius: 20px; color: white; }

.border-black {
  border-top: 2px solid #000;
}

.sidenav {
  font-family: 'Bree Serif', serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
