<div class="d-flex flex-row justify-content-center" style="height: calc(100% - 71px);">
    <ng-container *ngIf="items; else loading;">
        <app-snack-form class="w-100 p-3" [snackData]="snack"></app-snack-form>
    </ng-container>
    <ng-template #loading>
        <fa-icon [icon]="faSpinner" [pulse]="true" size="6x" [styles]="{'color': '#f00'}"></fa-icon>
    </ng-template>
</div>