<!-- <div id="carouselPayuSnack" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselPayuSnack" data-slide-to="0" class="active"></li>
    <li data-target="#carouselPayuSnack" data-slide-to="1"></li>
    <li data-target="#carouselPayuSnack" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.biggerbolderbaking.com/wp-content/uploads/2017/08/1C5A0056.jpg"
        alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1542062283%2Fchocolate-and-cream-layer-cake-1812-cover.jpg%3Fitok%3DrEWL7AIN"
        alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
        src="https://www.landolakes.com/RecipeManagementSystem/media/Recipe-Media-Files/Recipes/Retail/x17/Rainbow-Cake760x580.jpg?ext=.jpg"
        alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselPayuSnack" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselPayuSnack" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<div class="d-flex flex-column pt-2 pb-5">
  <div class="d-flex justify-content-center title mb-5">Payu Snack</div>

  <div id="galeri" class="d-flex justify-content-center">
    <div class="border-black">
      <h3 class="d-flex justify-content-center subtitle my-3 mx-3">Galeri</h3>
    </div>
  </div>
  <div class="w-100 my-2">
    <div *ngIf="items$ | async as items; else loading;">
      <div class="row mx-0 w-100">
        <ng-container *ngFor="let item of items | sortBy:'asc':'imageName';">
          <div class="col-sm-6 col-md-6 col-lg-4 w-50">
            <div class="d-flex flex-column" *ngIf="imageUrls.length === items.length">
              <img [src]="getImageUrl(item.id)" class="w-100 mb-3"
                height="{{screenSize != 'md' && screenSize != 'lg' && screenSize != 'xl' ? 150 : 300}}"
                style="object-fit: cover;" />
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-template #loading>
      <div class="w-100 d-flex justify-content-center my-5" style="height: calc(100vh - 77px - 177.9px - 96px);">
        <fa-icon [icon]="faSpinner" [pulse]="true" size="6x" [styles]="{'color': '#f00'}"></fa-icon>
      </div>
    </ng-template>
  </div>

  <div id="hubungi-kami" class="d-flex justify-content-center mt-5">
    <div class="border-black">
      <h3 class="d-flex justify-content-center subtitle my-3 mx-3">Hubungi Kami</h3>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.355355912005!2d106.84683252916523!3d-6.339425666808852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec4caa6345d3%3A0xe2bb887a358db3e8!2sJl.%20Persatuan%201%2C%20Pasir%20Gn.%20Sel.%2C%20Kec.%20Cimanggis%2C%20Kota%20Depok%2C%20Jawa%20Barat%2016451!5e0!3m2!1sen!2sid!4v1583506158327!5m2!1sen!2sid"
      width="90%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-around mt-5">
    <div class="d-flex flex-column">
      <h5 class="mb-2">Kontak</h5>
      <a class="btn btn-orange btn-lg my-3" href="tel:+6281319377107">Telepon</a>
      (021) 29627484
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-2">Alamat</h5>
      <a class="btn btn-orange btn-lg my-3" target="_blank" href="https://www.google.com/maps/dir//-6.339427,106.8473797/@-6.339427,106.84738,18z?hl=en">Lihat Rute</a>
      <pre>
Jl. Persatuan 1, 
Kel. Pasir Gunung Selatan, 
Kec. Cimanggis, 
Kota Depok, 
Jawa Barat 
16451
      </pre>
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-2">Jam Buka</h5>
      <table>
        <tbody>
          <tr>
            <th>Sen:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Sel:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Rab:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Kam:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Jum:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Sab:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
          <tr>
            <th>Min:</th>
            <td><span>07.00–21.00</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>