.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.title { font-family: 'Lobster', cursive; font-size: 60px; color: #f00; }

.subtitle { font-family: 'PT Sans', sans-serif; font-size: 20px; font-style: italic; }

pre { font-family: 'PT Sans', sans-serif; font-size: 1rem; }

.border-black { border-top: 2px solid #000; width: fit-content; }

/* .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
} */
