<form [formGroup]="snackForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="width: 50%;">
        <label for="snackName">Nama Snack</label>
        <input type="text" class="form-control" id="snackName" formControlName="snackName">
    </div>
    <div class="form-group">
        <label for="snackDesc">Deskripsi</label>
        <textarea class="form-control" formControlName="snackDesc" id="snackDesc" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="imageName">Gambar</label><br>
        <img [src]="imageUrl" class="mb-3" width="300" height="300" style="object-fit: cover;" />
        <input type="file" class="form-control-file" style="width: 25%;" id="imageName" formControlName="imageName"
            accept="image/x-png,image/gif,image/jpeg">
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="form-group" style="width: 25%;">
            <label for="snackPrice">Harga</label>
            <input type="text" class="form-control" id="snackPrice" formControlName="snackPrice">
        </div>

        <button type="submit" class="btn btn-primary" style="height: 50px;">SIMPAN</button>
    </div>

</form>