<div class="content-container d-flex justify-content-center" style="height: calc(100% - 71px);">
    <div class="align-self-center w-100">
        <div class="col-6 ml-auto mr-auto">
            <div class="card border-info">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="https://placeimg.com/128/128/nature">
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control mb-2" placeholder="Email" [(ngModel)]="email"
                                required autofocus>
                            <input type="password" class="form-control mb-2" placeholder="Password"
                                [(ngModel)]="password" required>
                            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit"
                                (click)="login()">
                                <span *ngIf="isLoading; else btnLogin;">
                                    <fa-icon [icon]="faSpinner" [pulse]="true"></fa-icon>
                                </span>
                            </button>
                            <ng-template #btnLogin>
                                LOGIN
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>