/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100% !important;
  background-color: #fffbf8 !important;
  scroll-behavior: smooth;
}

.btn {
  font-family: 'PT Sans', sans-serif !important;
}

.btn-orange {
  background-color: #f00 !important;
  border-color: #f00 !important;
  color: white !important;
}