  .snack-container {
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
  }
  
    .snack-container .snack-title {
      font-size: 18px;
      font-weight: 600;
      color: #bb761e;
    }
  
    .snack-container .snack-desc {
      font-size: 14px;
    }
  
    .snack-container .snack-price {
      font-size: 14px;
      font-weight: bold;
    }