<div class="py-3 px-1 content-container">
    <div class="w-100 my-2">
        <div *ngIf="items$ | async as items; else loading;">
            <div class="row mx-0 w-100">
                <ng-container *ngFor="let item of items | sortBy:'asc':'imageName'; index as i;">
                    <div class="col-sm-6 col-md-6 col-lg-3 my-4 w-50">
                        <div class="d-flex flex-column snack-container" *ngIf="imageUrls.length === items.length">
                            <img [src]="getImageUrl(item.id)" class="w-100 mb-3 snack-image"
                                height="{{screenSize != 'md' && screenSize != 'lg' && screenSize != 'xl' ? 150 : 300}}"
                                style="object-fit: cover;" />
                            <div class="snack-title align-self-center mb-4">
                                <ng-container *ngIf="item.snackName; else emptyName;">
                                    {{ item.snackName }}
                                </ng-container>
                                <ng-template #emptyName>
                                    Nama Snack {{i+1}}
                                </ng-template>
                            </div>
                            <p class="snack-desc px-3 m-3">
                                <ng-container *ngIf="item.snackDesc; else emptyDesc;">
                                    {{ item.snackDesc }}
                                </ng-container>
                                <ng-template #emptyDesc>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </ng-template>
                            </p>
                            <p class="snack-price align-self-center">
                                <ng-container *ngIf="item.snackPrice; else emptyPrice;">
                                    {{ convertToRupiahFunc(item.snackPrice) }}
                                </ng-container>
                                <ng-template #emptyPrice>
                                    Price: N/A
                                </ng-template>
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-template #loading>
            <div class="w-100 d-flex justify-content-center my-5" style="height: calc(100vh - 77px - 177.9px - 96px);">
                <fa-icon [icon]="faSpinner" [pulse]="true" size="6x" [styles]="{'color': '#f00'}"></fa-icon>
            </div>
        </ng-template>
    </div>
</div>